:root {
  --header-footer-background: rgb(39, 54,	69);
}

body {
  background-color: rgb(24, 107, 147);
}
.navbar, .footer {
  background-color: var(--header-footer-background);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.60);
}
.card {
  color: white;
  text-align: center;
  border: 2px solid var(--header-footer-background);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.60);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.card:hover {
  box-shadow: 0 2rem 2rem rgba(0,0,0,.60);
}
.card-header {
  color: white;
  background-color: var(--header-footer-background);
}
.card-footer {
  color: white;
  background-color: var(--header-footer-background);
}
.card-body{
  background-image: linear-gradient(180deg, #17a2b8 20%, transparent 40%);
}
.card-title {
  float: left;
}
.card-icon  {
  width: 30px;
  height: 30px;
  float: right;
}
.contact-card {
 background-color: var(--header-footer-background);
}
.response-block {
  background-color: var(--header-footer-background);
  padding-top: .5rem;
  padding-bottom: .5rem;
  border-radius: .25rem;
}
.response.form-control[readonly] {
  color: yellow;
  background-color: rgb(0, 0, 45);
}
.feature-icon  {
  width: 50px;
  height: 50px;
  float: right;
}
